[Unit]
Description=ByeIO "Byeefree System" Service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/byeefree util service run
User=_Byeefree_
Group=_ByeIO_
WorkingDirectory=/tmp
Restart=always
RestartSec=3
Environment=""

[Install]
WantedBy=multi-user.target
